{% extends 'base.html' %}

{% block title %}Category items{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 category-block">
    <h2>Categories</h2>

    {% for category in categories %}
      <a href="{{url_for('categoryView', category = category.name)}}"><h4>{{category.name}}</h4></a>
    {% endfor %}
  </div>
  <div class="col-md-8 items-block">
    <h2>Items</h2>
        {% for item in items %}
        <a href="{{url_for('itemView', category = item.category.name, item = item.name)}}"><h4>{{item.name}}</a> <span class="text-warning">({{item.category.name}})</span></h4>        
    {% endfor %}
</div>
</div>
{% endblock %}
